html {
    max-width: 100%;
    height: 100%;
}

body {
    background-color: aliceblue;
    margin: 0;
}
.mainheader{
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position:relative;
    margin: 0;
    padding: 5px;
    font-family: fantasy;
    max-width: 100vw;
    height: 10%;
}

section {
    display: inline-block;
    background-color: rgb(176, 196, 214);
    /* border: solid rgb(69, 196, 196); */
    /* width: 95vw; */
    height: 80vh;
    width: 100%;
    max-width: 100vw;
    margin: 0;
    font-size: 20px;
    justify-content: center;
}
.paragraphs{
    float: left;
    width: 45%;
    text-align: center;
    margin-top: 15%;
    margin-left: 5%;
    max-width: 500px;
    border: solid blue;
}
.image {
    float: right;
    width: 40%;
    margin-top: 10%;
    margin-right: 5%;
    max-width: 300px;
}
.logo {
    width: 50px;
    margin: 5px;
    margin-top: 15px;
    justify-content: center;
    
}
footer {
    background-color: rgb(101, 164, 143);
    clear:both;
    margin: 0;
    text-align: center;
    position:absolute;
    height: 10%;
    width: 100vw;
}
a {
    color: rgb(0, 0, 0);
    margin-right: 5px;
}